.card{
margin: 100px 50px;
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 20px;
border-radius: 18px;
color: #2B283A;
}
.cardImg{
    width: 40%;
    height: max-content;
    border-radius: 8px;

}
.article{
    display: flex;
    flex-direction: column;

}

.upperTitle{
    display: flex;
    flex-direction: row;
    gap:40px;
    font-size: 20px;
    align-items: center;
}
.location{
    display: flex;
    flex-direction: row;
    gap:10px;
    letter-spacing: 0.17em;
}
.location > img{ width: 14px;}
.upperTitle > a{ font-size: 16px; color: #918E9B;}
.title{font-size: xx-large; font-weight: 700; margin: 10px 0px}
.subtitle{ font-size:medium; font-weight: 700;}
p{ font-size: large;}